<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="' Hey ' + ${name} +'!. You are the ' + ${counter} + '. visitor since the last reset!'" />
</body>
</html>